In [230]:
import jovian

In [231]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

In [232]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [233]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [234]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f86924233d0>)

Let's load the data from the CSV file into a Pandas data frame.

In [235]:
countries_df = pd.read_csv('countries.csv')

In [236]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [237]:
num_countries = 210

In [238]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [239]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [240]:
continents = pd.unique(countries_df.continent)

In [241]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [242]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q3: What is the total population of all the countries listed in this dataset?**

In [243]:
total_population = countries_df.population.sum()

In [244]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [245]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [246]:
overall_life_exp = (countries_df.life_expectancy * countries_df.population).sum() / total_population

In [247]:
overall_life_exp

72.72165193409664

In [248]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [249]:
most_populous_df = countries_df.sort_values('population', ascending = False).head(10)

In [250]:
most_populous_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
41,China,Asia,1.439324e+09,76.91,4.34,15308.712
90,India,Asia,1.380004e+09,69.66,0.53,6426.674
199,United States,North America,3.310026e+08,78.86,2.77,54225.446
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469

In [251]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [252]:
countries_df['gdp'] = countries_df.population * countries_df.gdp_per_capita

In [253]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [254]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [255]:
countries_df['countries_with_hundred_million'] = countries_df.population > 100000000

In [256]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,False
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,False
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,False
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,False
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,False
...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,False
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,False
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,False
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,False
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,False

In [257]:
top_ten_populated_countries_df = countries_df.sort_values('countries_with_hundred_million', ascending=False).head(10)

In [258]:
top_ten_populated_countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,3.614206e+12,True
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,3.060386e+12,True
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12,True
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.112128e+12,True
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,2.203419e+13,True
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984,5.803628e+11,True
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454,1.100467e+12,True
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,1.794877e+13,True
99,Japan,Asia,1.264765e+08,84.63,13.05,39002.223,4.932863e+12,True
151,Philippines,Asia,1.095811e+08,71.23,1.00,7599.188,8.327273e+11,True

In [259]:
top_popu_countries_with_lowest_gdp_per_capita = top_ten_populated_countries_df.sort_values('gdp_per_capita').head(10)

In [260]:
top_popu_countries_with_lowest_gdp_per_capita

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984,5.803628e+11,True
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.112128e+12,True
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454,1.100467e+12,True
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12,True
151,Philippines,Asia,1.095811e+08,71.23,1.00,7599.188,8.327273e+11,True
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,3.060386e+12,True
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,2.203419e+13,True
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,3.614206e+12,True
99,Japan,Asia,1.264765e+08,84.63,13.05,39002.223,4.932863e+12,True
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,1.794877e+13,True

In [261]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [262]:
country_counts_df = countries_df.groupby('continent')['location'].count()

In [263]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

In [264]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [265]:
continent_populations_df = countries_df.groupby('continent')['population'].sum()

In [266]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [267]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [268]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7f86912bc820>)

In [269]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [270]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [271]:
total_tests_missing = sum(covid_data_df.total_tests.isna())

In [272]:
total_tests_missing

122

In [273]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [274]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [275]:
combined_df = countries_df.merge(covid_data_df, on='location')

In [276]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,False,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,False,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,False,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,False,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,False,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,False,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,False,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,False,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,False,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,False,6638.0,206.0,97272.0

In [277]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [278]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [279]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [280]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [281]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,False,38243.0,1409.0,NaN,NaN,982.394806,36.194710
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,False,9728.0,296.0,NaN,NaN,3380.359997,102.856349
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,False,45158.0,1525.0,NaN,NaN,1029.804468,34.776824
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,False,1199.0,53.0,NaN,NaN,15518.022390,685.950948
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,False,2729.0,109.0,NaN,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,False,1046.0,35.0,261004.0,2681.403324,10.745996,0.359570
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,False,766.0,1.0,NaN,NaN,1282.373228,1.674116
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,False,1976.0,571.0,NaN,NaN,66.250993,19.144391
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,False,12415.0,292.0,NaN,NaN,675.317108,15.883415
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,False,6638.0,206.0,97272.0,6544.605918,446.614587,13.859989

In [282]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [283]:
highest_tests_df = combined_df.sort_values('tests_per_million', ascending= False).head(10)

In [284]:
highest_tests_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
197,United Arab Emirates,Asia,9890400.0,77.97,1.200,67293.483,6.655595e+11,False,71540.0,387.0,7177430.0,725696.635121,7233.276713,39.128852
14,Bahrain,Asia,1701583.0,77.29,2.000,43290.705,7.366273e+10,False,52440.0,190.0,1118837.0,657527.137965,30818.361490,111.660730
115,Luxembourg,Europe,625976.0,82.25,4.510,94277.965,5.901574e+10,False,7928.0,124.0,385820.0,616349.508607,12665.022301,198.090662
122,Malta,Europe,441539.0,82.53,4.485,36513.323,1.612206e+10,False,1931.0,13.0,188539.0,427004.183096,4373.339614,29.442473
53,Denmark,Europe,5792203.0,80.90,2.500,46682.515,2.703946e+11,False,17195.0,626.0,2447911.0,422621.755488,2968.645954,108.076323
96,Israel,Asia,8655541.0,82.97,2.990,33132.320,2.867782e+11,False,122539.0,969.0,2353984.0,271962.665303,14157.289533,111.951408
89,Iceland,Europe,341250.0,82.99,2.910,46482.958,1.586231e+10,False,2121.0,10.0,88829.0,260304.761905,6215.384615,29.304029
157,Russia,Europe,145934460.0,72.58,8.050,24765.954,3.614206e+12,True,1005000.0,17414.0,37176827.0,254750.159763,6886.653091,119.327539
199,United States,North America,331002647.0,78.86,2.770,54225.446,1.794877e+13,True,6114406.0,185744.0,83898416.0,253467.507769,18472.377957,561.155633
10,Australia,Oceania,25499881.0,83.44,3.840,44648.710,1.138537e+12,False,25923.0,663.0,6255797.0,245326.517406,1016.592979,26.000121

In [285]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [286]:
highest_cases_df = combined_df.sort_values('cases_per_million', ascending=False).head(10)

In [287]:
highest_cases_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
155,Qatar,Asia,2881060.0,80.23,1.20,116935.600,3.368985e+11,False,119206.0,199.0,634745.0,220316.480740,41375.743650,69.071800
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705,7.366273e+10,False,52440.0,190.0,1118837.0,657527.137965,30818.361490,111.660730
147,Panama,North America,4314768.0,78.51,2.30,22267.037,9.607710e+10,False,94084.0,2030.0,336345.0,77952.047480,21805.112117,470.477208
40,Chile,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,False,414739.0,11344.0,2458762.0,128621.841287,21695.671982,593.423100
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,False,735.0,42.0,NaN,NaN,21657.139490,1237.550828
9,Aruba,North America,106766.0,76.29,NaN,35973.781,3.840777e+09,False,2211.0,12.0,NaN,NaN,20708.839893,112.395332
105,Kuwait,Asia,4270563.0,75.49,2.00,65530.537,2.798523e+11,False,86478.0,535.0,621616.0,145558.325682,20249.789079,125.276222
150,Peru,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,False,663437.0,29259.0,584232.0,17719.117092,20121.318048,887.393445
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,True,3997865.0,123780.0,4797948.0,22572.268255,18808.224105,582.331314
199,United States,North America,331002647.0,78.86,2.77,54225.446,1.794877e+13,True,6114406.0,185744.0,83898416.0,253467.507769,18472.377957,561.155633

In [288]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [289]:
highest_deaths_df = combined_df.sort_values('deaths_per_million', ascending=False).head(10)

In [290]:
highest_deaths_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,False,735.0,42.0,NaN,NaN,21657.139490,1237.550828
150,Peru,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,False,663437.0,29259.0,584232.0,17719.117092,20121.318048,887.393445
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576,4.943965e+11,False,85817.0,9898.0,2281853.0,196887.713967,7404.645676,854.040375
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,False,1199.0,53.0,NaN,NaN,15518.022390,685.950948
177,Spain,Europe,46754783.0,83.56,2.97,34272.360,1.602397e+12,False,479554.0,29194.0,6416533.0,137238.001939,10256.790198,624.406705
198,United Kingdom,Europe,67886004.0,81.32,2.54,39753.244,2.698689e+12,False,338676.0,41514.0,13447568.0,198090.434075,4988.892850,611.525168
40,Chile,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,False,414739.0,11344.0,2458762.0,128621.841287,21695.671982,593.423100
97,Italy,Europe,60461828.0,83.51,3.18,35220.084,2.129471e+12,False,271515.0,35497.0,5214766.0,86248.897403,4490.684602,587.097697
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,True,3997865.0,123780.0,4797948.0,22572.268255,18808.224105,582.331314
182,Sweden,Europe,10099270.0,82.80,2.22,46949.283,4.741535e+11,False,84532.0,5820.0,NaN,NaN,8370.109919,576.279276

In [291]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [292]:
highest_tests_df.merge(highest_cases_df, on='location')

,location,continent_x,population_x,life_expectancy_x,hospital_beds_per_thousand_x,gdp_per_capita_x,gdp_x,countries_with_hundred_million_x,total_cases_x,total_deaths_x,...,hospital_beds_per_thousand_y,gdp_per_capita_y,gdp_y,countries_with_hundred_million_y,total_cases_y,total_deaths_y,total_tests_y,tests_per_million_y,cases_per_million_y,deaths_per_million_y
0,Bahrain,Asia,1701583.0,77.29,2.00,43290.705,7.366273e+10,False,52440.0,190.0,...,2.00,43290.705,7.366273e+10,False,52440.0,190.0,1118837.0,657527.137965,30818.361490,111.660730
1,United States,North America,331002647.0,78.86,2.77,54225.446,1.794877e+13,True,6114406.0,185744.0,...,2.77,54225.446,1.794877e+13,True,6114406.0,185744.0,83898416.0,253467.507769,18472.377957,561.155633

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [191]:
countries_df['countries_with_ten_million_popu'] = countries_df.population > 10000000

In [194]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million,countries_with_ten_million_popu
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,False,True
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,False,False
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,False,True
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,False,False
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,False,True
...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,False,True
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,False,False
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,False,True
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,False,True
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,False,True

In [218]:
countries_with_lowest_gdp_df = countries_df.sort_values('gdp_per_capita',).head(20)

In [219]:
countries_with_lowest_gdp_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million,countries_with_ten_million_popu
38,Central African Republic,Africa,4829764.0,53.28,1.0,661.240,3.193633e+09,False,False
32,Burundi,Africa,11890781.0,61.58,0.8,702.225,8.350004e+09,False,True
111,Liberia,Africa,5057677.0,64.10,0.8,752.788,3.807359e+09,False,False
52,Democratic Republic of Congo,Africa,89561404.0,60.68,NaN,808.133,7.237753e+10,False,True
140,Niger,Africa,24206636.0,62.42,0.3,926.000,2.241534e+10,False,True
118,Malawi,Africa,19129955.0,64.26,1.3,1095.042,2.094810e+10,False,True
132,Mozambique,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10,False,True
168,Sierra Leone,Africa,7976985.0,54.70,NaN,1390.300,1.109040e+10,False,False
43,Comoros,Africa,869595.0,64.32,2.2,1413.890,1.229512e+09,False,False
117,Madagascar,Africa,27691019.0,67.04,0.2,1416.440,3.922267e+10,False,True
190,Togo,Africa,8278737.0,61.04,0.7,1429.813,1.183705e+10,False,False
207,Yemen,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10,False,True
61,Eritrea,Africa,3546427.0,66.32,0.7,1510.459,5.356733e+09,False,False
83,Guinea-Bissau,Africa,1967998.0,58.32,NaN,1548.675,3.047789e+09,False,False
71,Gambia,Africa,2416664.0,62.05,1.1,1561.767,3.774266e+09,False,False
176,South Sudan,Africa,11193729.0,57.85,NaN,1569.888,1.757290e+10,False,True
85,Haiti,North America,11402533.0,64.00,0.7,1653.173,1.885036e+10,False,True
195,Uganda,Africa,45741000.0,63.37,0.5,1697.707,7.765482e+10,False,True
31,Burkina Faso,Africa,20903278.0,61.58,0.4,1703.102,3.560041e+10,False,True
63,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,True,True

In [221]:
countries_with_lowest_bed_df = countries_df.sort_values('hospital_beds_per_thousand').head(20)

In [222]:
countries_with_lowest_bed_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,countries_with_hundred_million,countries_with_ten_million_popu
121,Mali,Africa,2.025083e+07,59.31,0.10,2014.306,4.079138e+10,False,True
117,Madagascar,Africa,2.769102e+07,67.04,0.20,1416.440,3.922267e+10,False,True
82,Guinea,Africa,1.313279e+07,61.60,0.30,1998.926,2.625148e+10,False,True
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,1.988786e+11,True,True
135,Nepal,Asia,2.913681e+07,70.78,0.30,2442.804,7.117551e+10,False,True
140,Niger,Africa,2.420664e+07,62.42,0.30,926.000,2.241534e+10,False,True
31,Burkina Faso,Africa,2.090328e+07,61.58,0.40,1703.102,3.560041e+10,False,True
0,Afghanistan,Asia,3.892834e+07,64.83,0.50,1803.987,7.022622e+10,False,True
195,Uganda,Africa,4.574100e+07,63.37,0.50,1697.707,7.765482e+10,False,True
20,Benin,Africa,1.212320e+07,61.77,0.50,2064.236,2.502514e+10,False,True
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12,True,True
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.112128e+12,True,True
80,Guatemala,North America,1.791557e+07,74.30,0.60,7423.808,1.330017e+11,False,True
190,Togo,Africa,8.278737e+06,61.04,0.70,1429.813,1.183705e+10,False,False
207,Yemen,Asia,2.982597e+07,66.12,0.70,1479.147,4.411699e+10,False,True
85,Haiti,North America,1.140253e+07,64.00,0.70,1653.173,1.885036e+10,False,True
86,Honduras,North America,9.904608e+06,75.27,0.70,4541.795,4.498470e+10,False,False
61,Eritrea,Africa,3.546427e+06,66.32,0.70,1510.459,5.356733e+09,False,False
187,Tanzania,Africa,5.973421e+07,65.46,0.70,2683.304,1.602851e+11,False,True
132,Mozambique,Africa,3.125544e+07,60.85,0.70,1136.103,3.550939e+10,False,True

In [223]:
twenty_countries_df = countries_with_lowest_gdp_df.merge(countries_with_lowest_bed_df, on='countries_with_ten_million_popu')

In [224]:
twenty_countries_df

,location_x,continent_x,population_x,life_expectancy_x,hospital_beds_per_thousand_x,gdp_per_capita_x,gdp_x,countries_with_hundred_million_x,countries_with_ten_million_popu,location_y,continent_y,population_y,life_expectancy_y,hospital_beds_per_thousand_y,gdp_per_capita_y,gdp_y,countries_with_hundred_million_y
0,Central African Republic,Africa,4829764.0,53.28,1.0,661.240,3.193633e+09,False,False,Togo,Africa,8278737.0,61.04,0.7,1429.813,1.183705e+10,False
1,Central African Republic,Africa,4829764.0,53.28,1.0,661.240,3.193633e+09,False,False,Honduras,North America,9904608.0,75.27,0.7,4541.795,4.498470e+10,False
2,Central African Republic,Africa,4829764.0,53.28,1.0,661.240,3.193633e+09,False,False,Eritrea,Africa,3546427.0,66.32,0.7,1510.459,5.356733e+09,False
3,Liberia,Africa,5057677.0,64.10,0.8,752.788,3.807359e+09,False,False,Togo,Africa,8278737.0,61.04,0.7,1429.813,1.183705e+10,False
4,Liberia,Africa,5057677.0,64.10,0.8,752.788,3.807359e+09,False,False,Honduras,North America,9904608.0,75.27,0.7,4541.795,4.498470e+10,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,True,True,Guatemala,North America,17915567.0,74.30,0.6,7423.808,1.330017e+11,False
224,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,True,True,Yemen,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10,False
225,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,True,True,Haiti,North America,11402533.0,64.00,0.7,1653.173,1.885036e+10,False
226,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,True,True,Tanzania,Africa,59734213.0,65.46,0.7,2683.304,1.602851e+11,False
227,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,True,True,Mozambique,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10,False

In [225]:
import jovian

In [226]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "shivani-singh15011997/pandas-practice-assignment" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/shivani-singh15011997/pandas-practice-assignment

'https://jovian.ai/shivani-singh15011997/pandas-practice-assignment'

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2